<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1048891053119-7fgambfh9hkr159cqb42345u1jv5fiv4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1048891053119-7fgambfh9hkr159cqb42345u1jv5fiv4</string>
	<key>API_KEY</key>
	<string>AIzaSyBxmsRcuPmj_BwSglGBmcfQK7AlxO5kLbA</string>
	<key>GCM_SENDER_ID</key>
	<string>1048891053119</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todo.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>todo1-1d499</string>
	<key>STORAGE_BUCKET</key>
	<string>todo1-1d499.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048891053119:ios:44e89e65abf39109c2548a</string>
</dict>
</plist>